/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
    .container-full {
        main {
            .table-responsive {
                .table {
                    tbody {
                        tr {
                            td {
                                i {
                                    margin-right: 5px;
                                }
                                .blue {
                                    &:hover {
                                        text-decoration: underline;
                                        cursor: pointer;
                                        color: blue;
                                    }
                                }
                                .red {
                                    &:hover {
                                        text-decoration: underline;
                                        cursor: pointer;
                                        color: red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
